<?xml version="1.0"?>
<!--
/**
 * @author Milchbar
 * @copyright Copyright (c) 2017 Milchbar (https://www.milchbar.nl)
 * @package Milchbar_SimplyTranslate
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Milchbar\SimplyTranslate\Api\SimplyTranslateRepositoryInterface" type="Milchbar\SimplyTranslate\Model\SimplyTranslateRepository" />
</config>
